#left {
  position: absolute;
  top: 75px;
  left: 100px;
  width: 150px;
  height: 150px;
  border: 0;
  background-color: #eee;
  color: #fff;
  padding: 0;
  display: inline-block;
  line-height: 150px;
}

#backward {
  position: absolute;
  top: 250px;
  left: 100px;
  width: 150px;
  height: 150px;
  border: 0;
  background-color: #eee;
  color: #fff;
  padding: 0;
  line-height: 150px;
  display: inline-block;
}

#forward {
  position: absolute;
  top: 250px;
  left: 275px;
  width: 150px;
  height: 150px;
  border: 0;
  background-color: #eee;
  color: #fff;
  padding: 0;
  line-height: 150px;
  display: inline-block;
}

#right {
  position: absolute;
  top: 425px;
  left: 100px;
  width: 150px;
  height: 150px;
  border: 0;
  background-color: #eee;
  padding: 0;
  line-height: 150px;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  background-color: #018e7f;
}

button.active {
  background-color: #01c0b1;
}

button:active {
  background-color: #01c0b1;
}

#connect {
  background-color: #01c0b1;
  color: #fff;
  border: 0;
  padding: 10px 20px;
}

#stop {
  background-color: red;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  margin-left: 10px;
}

#serverip, #turnspeed, #speed{
  padding: 10px;
}

i.material-icons {
  line-height: 150px;
  font-size: 100px;
  color: #fff;
}

.range {
  position: absolute;
  top: 600px;
  left: 50px;
}

body {
  background: #232323;
  color: #eee;
}